Repository GSA/notifications-api, pull requests merged in 2024-09, with the labels that each got.

#1314 Change BackstopJS ADR (0009) to accepted and add more details
  docs/adrs/0009-adr-implement-backstopjs-to-improve-qa.md
  docs/adrs/README.md
Labels: documentation, engineering, ADR: accepted

#1327 Add production deployment steps to documentation
  README.md
  docs/all.md
Labels: documentation, engineering

#1345 Go back to brackets with secrets. in command
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#1346 Adjust LOGIN_DOT_GOV_REGISTRATION_URL env var in staging deploy
  .github/workflows/deploy.yml
Labels: engineering, github_actions
